@{
    ViewBag.Title = "ANEXOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/forms/jsVisitaAnexos.js"></script>

<input type="hidden" id="txtProyectoId" />
<input type="hidden" id="txtUPMId" />
<input type="hidden" id="txtVisitaId" />
<input type="hidden" id="txtRuta" />

<style>
    .removeborder {
        resize: none;
        width: 100%;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Anexos<small>&nbsp;</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" id="InconformidadAspectosForm">
                        <div class="panel-body">
                            <div class="row">
                                
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblAnexos">
                                        <thead>
                                            <tr>
                                                <th>UPM</th>
                                                <th>Visita</th>
                                                <th>Descripción</th>
                                                <th>Tipo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="tabs-container">
                    <ul class="nav nav-tabs" id="tabAspectos"></ul>
                    <div id="tabcontent" class="tab-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
}